@import 'reset.css';
@import 'mixins.less';

html {
    background: @verylightgrey;
    height: 100%;
    width: 100%;

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: @darkgrey;

    body {
        margin: 0 30px;
        padding: 0;
        header {
            text-align: right;
        }
        .theme-change {
            margin: 30px 0 0 0;
        }
        .main-content {
            background: @white;
            max-width: 580px;
            margin: 30px auto;
            padding: 30px;
            .rounded(5px);
            border: 1px solid #ddd;

            .content {
                margin-top: 30px;
                line-height: 24px;
            }

            .site-info {
                margin-top: 35px;
                font-size: 12px;
                line-height: 12px;
            }
        }
    }

    &.dark {
        background: @verydarkgrey;
        color: @verylightgrey;

        body {

            .main-content {
                background: @darkishgrey;
                border: 1px solid @darkgrey;
            }
        }
        .link {
            background-color: transparent;
            border: 1px solid @verylightgrey;
            color: @verylightgrey;

            &:hover {

            }
            &:active {
                /*background-color: @verylightgrey;
                border-color: @verylightgrey;
                color: @darkishgrey;*/
            }
        }
    }

    .link {
        display: inline-block;
        margin: 0 6px 0 0;
        padding: 8px 16px;
        background-color: transparent;
        border: 1px solid @lightgrey;
        color: @darkgrey;
        .rounded(4px);
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;

        &:active, &:focus {
            outline: none;
            /*background-color: @darkgrey;
            border-color: @darkgrey;
            color: @white;*/
        }
    }
}

h1 {
    font-size: 24px;
    line-height: 28px;
}
h2 {
    font-size: 18px;
    line-height: 22px;
    color: @lightgrey;
}
h3 {
    font-size: 20px;
    line-height: 24px;
}

@import 'responsive.less';