@import 'reset.css';

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);
html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1080px) {
  
}
@media screen and (max-width: 800px) {
  
}
@media screen and (max-width: 480px) {
  
}
