@media screen and (max-width: 480px) {
	.header {
		background: url('../images/menu_icon.png'), rgba(255,255,255,0.8);
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: 97% 10px;
		.title {
						
		}	
		.nav {
			display: none;
			float: none;
		}
	}
	  
}